body {
	padding-top: 55px;
}

.landing {
	position: relative;
	background: url('https://images.unsplash.com/photo-1542204165-65bf26472b9b?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1567&q=80')
		no-repeat center center/cover;
	height: 100vh;
}
