body {
	padding-top: 55px;
}

.landing {
	position: relative;
	background: url('https://images.unsplash.com/photo-1489599849927-2ee91cede3ba?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1500&q=80')
		no-repeat center center/cover;
	height: 100vh;
}

.landing-prompt {
	position: fixed;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	color: #f8f9fa !important;
}

.card {
	margin-bottom: 1rem;
}

.list-group-item:hover {
	background: lightblue;
	transition: all 0.6s;
}
